#Wed, 17 Apr 2013 13:13:48 +0200
app.name=FindACab

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274
app.id=60874dfa-0209-4082-8604-7bc84b88ca95
